{% extends 'layout/homeLayout.twig' %}
{% block chatSidebar %}

		<div>
			<div class="px-4 pt-4"> <h4 class="mb-4">
				Chats
			</h4>
			<div class="search-box chat-search-box">
				<div class="input-group mb-3 rounded-3">
					<span class="input-group-text text-muted bg-light pe-1 ps-3" id="basic-addon1">
						<i class="ri-search-line search-icon font-size-18"></i>
					</span>
					<input type="text" class="form-control bg-light" placeholder="Search messages or users" aria-label="Search messages or users" aria-describedby="basic-addon1"/>
				</div>
			</div>
			<!-- Search Box -->
		</div>
		<!-- .p-4 -->

		<!-- Start chat-message-list -->
			<div>
				<h5 class="mb-3 px-3 font-size-16"> Recent
			</h5>

			<div class="chat-message-list px-2" data-simplebar style="height: calc(100vh - 188.4px);">
				<ul
					class="list-unstyled chat-list chat-user-list">

					{# Creating the chat list #}
					{% for row in data._chatList %}

						<li class="unread">
								{# The solution to the error in the mobile version in responsive design #}
								<a href={% if data.recipientID == row.userID %}"#"{% else %}"/chats/{{row.room}}/{{row.userID}}"{% endif %}>
									<div class="d-flex">
										<div class="chat-user-img align-self-center me-3 ms-0">
											<div class="avatar-xs">
												<span class="avatar-title rounded-circle bg-soft-primary text-primary">
													{{row.userAvatar}}
												</span>
											</div>
										</div>
										<div class="flex-grow-1 overflow-hidden">
											<h5 class="text-truncate font-size-15 mb-1">
												{{row.username}}
											</h5>
											<p id="{{row.username}}" class="chat-user-message text-truncate mb-0">
												{{row.lastMsg}}
											</p>
										</div>
                                        <div class="font-size-11" style="width:40px">12 min</div>        
                                        <div id="{{row.room}}" class="unread-message">{% if row.messageQuantity %}<span class="badge badge-soft-danger rounded-pill">{{row.messageQuantity}}</span>{% endif %}</div>
								    </div>
							    </a>
						</li>
					{% endfor %}

				</ul>
			</div>
		</div>
		<!-- End chat-message-list -->
	</div>


{% endblock %}

{% if data.roomID %}
{% block userChat %}
        {% include 'partials/userChat.twig' %}
{% endblock %}
{% else %}

{% block javascript %}

    {# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> #}
	<script src="/socket.io/socket.io.js"></script>

	<script>

    var socket = io();
    socket.on("connect", () => {
        console.log( "connected" );
    });
    var quantityArray = [];

	{# Pressing the number of notifications on the screen instantly #}
	{% for row in data._chatList %}

        quantityArray.push({room:'{{row.room}}',quantity:0});
        socket.on('{{row.room}}', (msg) => {
            var messagesQuantity = document.getElementById("{{row.room}}");
			var lastMessage = document.getElementById("{{row.username}}");
			let numb = messagesQuantity.childNodes.length;
			if(numb != 0){
				messagesQuantity.removeChild(messagesQuantity.firstElementChild);
			}
            let item = document.createElement('span');
            let att = document.createAttribute("class");

			lastMessage.innerHTML="";
			lastMessage.innerHTML+=`${msg}`;
            att.value = "badge badge-soft-danger rounded-pill";
            item.setAttributeNode(att);
            const found = quantityArray.find(element => element.room == '{{row.room}}');
            const index = quantityArray.indexOf(found);
            quantityArray[index].quantity++; 
            item.innerHTML="";
            item.innerHTML+=`${found.quantity}`
            messagesQuantity.appendChild(item);

        });

	{% endfor %}

	socket.on("connect_error", (err) => { console.log(`connect_error due to ${err.message}`); });

	socket.on( "disconnect", () => {
    	console.log("çıkış yapıldı")
    	console.log( socket.id );
	});
	</script>

{% endblock %}

{% endif %}



